html {
	border: solid 1px;
	height: 100%;
	padding: 0px;
}

body {
	height: 100%;
	/*position: relative;*/
	border: solid 1px;
	padding: 0px;
	margin: 0px;
}
div.wrap {
	min-height: 100%;
	top: 50%;
	margin: 0px;
}
div.header {
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
	background-color: #666666;
	color: #ffffff;
	font-family: arial;
}
div.header p {
	font-size: 30px;
	line-height: normal;
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
}
div.content {
	font-size: 24px;
	  color: #696763;
	  width: 50%;
	  text-align: center;
	  margin-right: -50%;
	  position: absolute;               /* 2 */
   	  top: 50%;
   	  left: 50%;
   	  transform: translate(-50%, -50%);
}
div.footer {
	text-align: right;

	margin-top: -100px;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
	background-color: #666666;
	color: #ffffff;
	font-family: arial;
}
div.footer p {
	font-size: 15px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    margin-right: 70px;
}